@import url(https://fr.allfont.net/allfont.css?fonts=top-secret);

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Jost', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

body
{
	background-color: whitesmoke;
}

header
{
	position: fixed;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 18%;
	transition: .3s;
	padding-left: 100px;
	background-color: gainsboro;
	border-radius: 5px;
}

header h1
{
	font-family: 'Top Secret Bold', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
	padding-left: px;
}

.navigation
{
	display: flex;
	margin: 0 auto;
	font-size: 2em;
}

.navigation li
{
	position: relative;
	margin-right: 2cm;
	display: inline-block;
	vertical-align: top;
}

.navigation a
{
	font-size: var(--p-font);
	color: var(--text-color);
	font-weight: 500;
	padding: 30px;
}

.navigation li a
{
	display: block;
	padding: 20px;
}

.navigation a::after
{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: #16120b;
	bottom: -3px;
	left: 0;
	transition: ease .40s;
}

.navigation a:hover::after
{
	width: 100%;
}

.introduction
{
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-image: url(./images/top.png);
	background-position: center;
	position: relative;
	display: flex;
    justify-content: center;
	align-items: center;
	grid-gap: 4rem;
	grid-template-columns: repeat(2, 1fr);
}

.vidéo 
{
	margin: 8px 30px 25px;
	line-height: 1.1;
}

.text h1
{
	margin: 10px 0px 25px;
	font-size: 4.5rem;
	line-height: 1.1;
	font-weight: 700;
	color: rgb(247, 246, 242);
}

.text p
{
	max-width: 550px;
	font-size: var(--p-font);
	line-height: 28px;
	margin-bottom: 45px;
	text-align: justify;
	color: whitesmoke;
}

.btn
{
	display: inline-block;
	color: whitesmoke;
	background: #0f141e;
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}

.btn:hover{
	transform: scale(1.1);
}
